<ion-header>
  <ion-toolbar>

  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="onboarding-content">
  <swiper-container pagination="true" #slides (slidechange)="onSlideDidChange(slides)">
    <swiper-slide>
      <div class="card">
        <img class="illustration" src="assets/on-boarding/simple-learning.png" alt="Learn ABC in Sign" />
        <h2 class="title">Simple and intuitive</h2>
        <p class="subtitle">Start with the basics and build a strong sign vocabulary.</p>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="card">
        <img class="illustration" src="assets/on-boarding/modal.png" alt="Interactive 3D" />
        <h2 class="title">3D animations</h2>
        <p class="subtitle">Animated gestures to clearly understand every sign movement.</p>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="card">
        <img class="illustration" src="assets/on-boarding/learn-fun2.png" alt="Fun Quizzes" />
        <h2 class="title">Learn with fun</h2>
        <p class="subtitle">Test your knowledge with quizzes, sounds, images and rewards.</p>
      </div>
    </swiper-slide>
  </swiper-container>


  <!-- <div class="cta-bar" [class.visible]="currentIndex === 2"> -->
  <!-- <ion-button expand="block" shape="round" class="cta" (click)="getStarted()">Let’s Learn</ion-button> -->
  <!-- </div> -->

</ion-content>
<ion-footer>
  <ion-toolbar class="footer-toolbar">
    <ion-button expand="block" size="large" shape="round" class="lets-learn-btn" (click)="getStarted()">
      Let's Learn! 🚀
    </ion-button>
  </ion-toolbar>
</ion-footer>