.premium-banner {
  margin: 16px 20px;
  // padding: 16px;
  --background: linear-gradient(to bottom, #232f46, #142343);
  background: linear-gradient(to bottom, #232f46, #142343);
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.premium-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.premium-text {
  margin-left: 10px;

  h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: white;
  }

  p {
    margin: 4px 0 0 0;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.9);
  }
}

.premium-characters {
  .characters-img {
    width: 10rem;
    height: auto;
  }
}

.premium-btn {
  --background: linear-gradient(to bottom, #D13D32, #6D1A65);
  --border-radius: 24px;
  --padding-top: 12px;
  --padding-bottom: 12px;
  font-weight: 700;
  font-size: 15px;
  text-transform: none;
  margin: 0;
  margin-top: 10px;
  color: white;
}

.restore-premium-btn {
  --background: linear-gradient(to bottom, #D13D32, #6D1A65);
  --border-radius: 24px;
  --padding-top: 24px;
  --padding-bottom: 24px;
  font-weight: 700;
  font-size: 15px;
  text-transform: none;
  margin: 0;
  margin-top: 10px;
  color: white;
}