<ion-header class="premium-header">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()" class="back-button">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Buy Premium</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="premium-content ion-padding">
  <div class="premium-banner">
    <div class="premium-content">
      <div class="premium-text">
        <h3>SLK School</h3>
        <p>Unlock 200+ signs and premium features.</p>
        <ion-button class="premium-btn" expand="block">
          1000 Rs
        </ion-button>
      </div>
      <div class="premium-characters">
        <ion-img src="assets/landing/landing.png" alt="Characters" class="characters-img"></ion-img>
      </div>
    </div>

  </div>

  <ion-button class="restore-premium-btn" expand="block">
    Restore Purchase
  </ion-button>
</ion-content>