<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/onboarding"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="profile-setup-content">
  <div class="profile-container">
    <!-- Title Section -->
    <div class="title-section">
      <h1 class="main-title">Choose profile picture</h1>
      <p class="subtitle">Choose a photo that represent you</p>
    </div>

    <!-- Avatar Display Section -->
    <div class="avatar-section">
      <div class="avatar-wrapper">
        <div class="avatar-circle" [class.has-image]="selectedAvatar">
          <ion-img
            *ngIf="selectedAvatar"
            [src]="selectedAvatar"
            class="selected-avatar-img"
          >
          </ion-img>
          <ion-icon
            *ngIf="!selectedAvatar"
            name="person"
            class="default-avatar-icon"
          >
          </ion-icon>
        </div>
        <!-- <button class="upload-btn" (click)="uploadPhoto()">
          <ion-icon name="add"></ion-icon>
        </button> -->
      </div>
    </div>

    <!-- Name Input Section -->
    <div class="name-section">
      <ion-item lines="none" class="name-input-item">
        <input
          [(ngModel)]="userName"
          placeholder="Enter your name"
          class="name-input"
          type="text"
          maxlength="10"
        />
      </ion-item>
      <p class="helper-text">Only 10 characters are allowed</p>
    </div>

    <!-- Avatar Selection Grid -->
    <div class="avatar-selection-section">
      <p class="selection-label">Or choose a Signlingo Avatar</p>
      <div class="avatar-grid">
        <div
          *ngFor="let avatar of avatars; let i = index"
          class="avatar-item"
          [class.selected]="selectedAvatar === avatar"
          (click)="selectAvatar(avatar)"
        >
          <ion-img [src]="avatar"></ion-img>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button
      expand="block"
      class="save-btn"
      [disabled]="!userName || !selectedAvatar"
      (click)="saveProfile()"
    >
      Save
    </ion-button>
  </ion-toolbar>
</ion-footer>
